## Class in OOP (Object Oriented Programming)

In [51]:
age = 24
print(type(age))

<class 'int'>

### Creating custom class person

In [52]:
class Person:
    # Cunstructor function - define attributes of function
    def __init__(self,name,age,gender,occupation):
        self.name = name
        self.age = age
        self.gender = gender
        self.occupation = occupation

    # User defined function
    def talk(self):
        print(f'Hi there my name is {self.name}')
        print(f'My age is {self.age}')
        print(f'I am {self.gender}')
        print(f'I work as {self.occupation}')

In [53]:
p1 = Person(name='Dipali',age=24,gender='Female',occupation='Data Scientist')

In [54]:
print(p1)

<__main__.Person object at 0x000001451515B910>

In [55]:
p1.name

'Dipali'

In [56]:
p1.age

24

In [57]:
p1.occupation

'Data Scientist'

In [58]:
p1.gender

'Female'

In [59]:
p1.talk()

Hi there my name is Dipali
My age is 24
I am Female
I work as Data Scientist

### Create a class Bank account

In [60]:
class Account:

    # Add init constructor
    def __init__(self, ac_no, name, bal=0):
        self.ac_no = ac_no
        self.name = name
        self.bal  = bal

    # Function for Depositing money
    def deposit(self, amt):
        self.bal = self.bal + amt
        print(f'Balance of {amt} INR Deposited in Your Bank account number : {self.ac_no} ')
        print(f'Current Balance : {self.bal} INR')

    # Function to withdraw money
    def withdraw(self, amt):
        if self.bal >= amt:
            self.bal = self.bal - amt
            print(f'Amount of {amt} INR withdrawn from your bank account number : {self.ac_no}')
            print(f'Current Balance : {self.bal} INR')
        else:
            print(f'Insufficient Balance in account {self.ac_no}. Current Balance in your account is {self.bal} INR')

    # Function to transfer money
    def transfer(self, amt, ac2):
        if self.bal >= amt:
            self.bal = self.bal - amt
            ac2.bal = ac2.bal + amt
            print(f'Amount of {amt} INR Transferred to account number : {ac2.ac_no} from your account : {self.ac_no}')
            print(f'Current Balance : {self.bal} INR')
        else:
            print(f'Insufficient balance in account {self.ac_no}. Current balance in your account is {self.bal} INR')

In [61]:
a1 = Account(ac_no=123, name='ajay chavai',bal=50000)

In [62]:
a1.name

'ajay chavai'

In [63]:
a1.bal

50000

In [64]:
a1.ac_no

123

In [65]:
a1.deposit(25000)

Balance of 25000 INR Deposited in Your Bank account number : 123
Current Balance : 75000 INR

In [66]:
a1.withdraw(20000)

Amount of 20000 INR withdrawn from your bank account number : 123
Current Balance : 55000 INR

In [67]:
a1.withdraw(60000)

Insufficient Balance in account 123. Current Balance in your account is 55000 INR

In [68]:
a2 = Account(ac_no=456,name='Dipali Chavai')

In [69]:
a2.ac_no

456

In [70]:
a2.bal

0

In [71]:
a2.name

'Dipali Chavai'

### Tranferring money from ac1 to ac2

In [72]:
a1.bal

55000

In [73]:
a1.transfer(amt=5000, ac2=a2)

Amount of 5000 INR Transferred to account number : 456 from your account : 123
Current Balance : 50000 INR

In [74]:
a2.transfer(amt=100,ac2=a1)

Amount of 100 INR Transferred to account number : 123 from your account : 456
Current Balance : 4900 INR

In [75]:
a1.bal

50100

In [76]:
a2.bal

4900

### Assignment from previous class

In [77]:
class Triangle:

    # constructor functions
    def __init__(self,a,b,c):
        self.a = a
        self.b = b
        self.c = c
    
    # check whether given sides form a triangle or not
    def isTriangle(self):
        s1 = self.a
        s2 = self.b
        s3 = self.c
        if s1+s2>s3 and s2+s3>s1 and s1+s3>s2:
            tr = True
        else:
            tr = False 
            print(f'Given sides {self.a}, {self.b}, {self.c} do not form a triangle')
        return tr
    
    # calculating perimeter of triangle
    def perimeter(self):
        if self.isTriangle()==True:
            p = self.a + self.b + self.c
        else:
            p = None
        return p
    
    # calculating area of triangle with herons forumula
    def area(self):
        if self.isTriangle()==True:
            s = (self.a + self.b + self.c)/2
            ar = (s*(s-self.a)*(s-self.b)*(s-self.c))**(1/2)
        else:
            ar = None
        return ar

In [79]:
t1 = Triangle(3,4,5)

In [80]:
t1.a

3

In [81]:
t1.b

4

In [82]:
t1.c

5

In [83]:
t1.isTriangle()

True

In [84]:
p1 = t1.perimeter()

In [85]:
p1

12

In [86]:
a1 = t1.area()

In [87]:
a1

6.0

In [88]:
t2 = Triangle(1,2,4)

In [89]:
t2.a

1

In [90]:
t2.b

2

In [91]:
t2.c

4

In [92]:
p2 = t2.perimeter()

Given sides 1, 2, 4 do not form a triangle

In [93]:
a2 = t2.area()

Given sides 1, 2, 4 do not form a triangle

In [94]:
print(type(t2))

<class '__main__.Triangle'>